{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true
  },
  "rules": {
    "no-console": "off",
    "prefer-single": "on",
    "prettier/prettier": ["error"]
  }
}
